body {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}

a:hover {
    text-decoration: none;
    transition: all 500ms ease;
}

h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: 1001;
    background-color: teal;
    padding: 14.5px 10px;
    letter-spacing: .125em;
    text-transform: uppercase;
    box-shadow: 3px 3px 2px gray;
}

@media only screen and (max-width: 568px){
    h1 {
        padding-top: 12px;
        left: 53%;
        top: 23%;       
    }
}

.navbar {
    justify-content: space-evenly;
}

.navbar ul {
    margin-bottom: 0px;
}

.nav-link {
    letter-spacing: .07em;
    font-size: 1.1em;
    text-transform: uppercase;
    padding-left: 60px;
}

@media only screen and (max-width: 568px){
    .nav-link {
        padding-left: 20px;
    }
}
#top {
    padding: 30px 15%;
    font-size: 1.25em;
}

#demo {
    color: white;
    padding: 30px 30px;
    flex-direction: row;
}

#demo h2 {
    letter-spacing: .1em;
}

.cards {
    justify-content: space-evenly; 
    margin: 0 auto;
}

.card {
    width: 25rem;
    margin-top: 30px;
}

.card-body {
    padding-bottom: 0px;
}

.card-text {
    color: black;
}

ul li {
    list-style: none;
    text-decoration: none;
}

.btn {
 background-color: teal;
 margin-top: 20px;
 font-size: 1.5em;
 padding: 20px 20px;
}

#contact {
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    font-weight: bold;
    padding-bottom: 30px;
    margin: 30px
}



